html, body {
  margin:0;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  position: relative;
  width: 414px;
  height: 100%;
  align-self: center;
  background-image: linear-gradient(#D67B57, #D67B57, #D67B57, #E08283, #E08283, #E08283, #E08283, #B498C8, #50BDDA, #8EDDE8,  #8EDDE8,  #8EDDE8);
}

#start {
  margin-top: 50px;
}

h2 {
  font-family: Futura;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}

h3 {
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}

h4 {
  font-family: Futura;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#dig {
  display: flex;
  justify-content: center;
}

#dig img {
  display: flex;
  width: 70%;
}

#benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#swipeUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.window img {
  width: 60%;
  display: flex;
}

#growing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -50px;
  margin-bottom: -50px;
  margin-left: 20px;
  margin-right: 20px;
}

#so {
  text-align: left;
  margin-left: 20px;
}

#look {
  text-align: right;
  margin-right: 20px;
}

#alternatives {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

#garden {
  display: flex;
  align-self: center;
  width: 100%;
  height: 275px;
}

#watering {
  width: 100%;
}

#end {
  position: relative;
  top: 200px;
  left: 25px;
  opacity: 0;
  transition: opacity 2s;
}

#end img {
  width: 70%;
}

#happy {
  opacity: 0;
  position: relative;
  top: 100px;
  transition: opacity 2s;
}


