html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* font-family: 'Permanent Marker', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */

#header {
    display: flex;
}

#logo {
    justify-self: flex-start;
}

#nav {
    justify-self: flex-end;
}