html, body {
  margin:0;
  /* overflow-y: hidden; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main{
  position: relative;

  justify-content: center;
  align-content: center;
  width: 414px;
  height: 2411px;
  align-self: center;
  background-image: linear-gradient(#65A9D9, #A7D4E9, #C5D8BD, #7EAA6A, #387B19);
}

img{
    width: 100%;
}

h2{
    text-align: center;
    color: #6BB25A;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #367A17;
    font-size: 46px;
    font-family: 'Permanent Marker', cursive;
}

#calendar{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    
}