html, body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    padding:0;
}

/* font-family: 'Permanent Marker', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */

#header {
    display: flex;
    flex-direction: row;
    top: 0;
    left:0;
    border: 2px solid red;
    align-items: center;
    padding: 10px;
}

#logo {
    display: flex;
    justify-content: flex-start;
    border: 2px solid blue;
    width: 50%;
}

#logo-image {
    width: 150px;
    height: 150px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
}

#nav_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-right: 20px;
}

#nav {
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    background-image: linear-gradient(#5D9742, #5DA4D7, #C98EA9);
    color: white;
    border: 2px solid chartreuse;
    width: 40%;
    max-width: 100%;
    text-align: center;
    word-spacing: 3.5vmax;
    font-family: 'Bebas Neue', cursive;
}

a{
    color: white;
    text-decoration: none;
}

footer{
    border: 2px solid pink;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

#foot_div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#rainbow-stripes {
    width: 25%;
}



/* PAGE 2 BODY */

.styleguide-details {
    list-style-type: none;
}

.styleguide-details li {
    position: relative;
}


.title {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

hr {
    margin-right: 50%;
    width: 65%;
    color: #000000;
}

.text {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding: 5px 5px 5px 5px;
}

/* COLOUR SECTION */

#palettes {
    display: flex;
    align-items: center;
    float: left;
    width: 60%;
    max-width: 100%;
    padding-top: 2%;
}

#colour-info {
    float: right;
}

#clear {
    clear: both;
}



/* TYPOGRAPHY SECTION */

#font-styles {
    position: relative;
    width: 30%;
    list-style-type: none;
    background: linear-gradient(to right, #CA8FAA, #5EA4D1, #5E994D);
    padding: 15px;
    border-radius: 10px;
    opacity: 50%;
    flex-wrap: wrap;
}

.mont {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 24px;

}

.bebas {
    font-family: 'Bebas Neue', cursive;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 24px;

}

.perma {
    font-family: 'Permanent Marker', cursive;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 24px;
}


/* ICONOGRAPHY SECTION */

.icono-styles {
    background: linear-gradient(to right, #CA8FAA, #5EA4D1, #5E994D);
    padding: 15px;
    width: 25%;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

button {
    display: block;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    /*margin: 25px;*/
    font-family: 'Montserrat', sans-serif;

}

.buttons {
    width: 100%;
    height: 400px;
    display: block;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 25px;
    padding-left: 50px;
    padding-right: 50px;
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.green {
    margin: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    background-color: #94d46c;
    color: #FFFFFF;
    text-align: center;
}

.icons {
    margin: 75px;
    display: row;

}


/* GRAPHICS SECTION */

.graphics_text {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding: 5px 5px 5px 5px;
}

.graphics-styles {
    background: linear-gradient(to right, #CA8FAA, #5EA4D1, #5E994D);
    padding: 15px;
    width: 35%;
    border-radius: 10px;
    align-items: center;
}

.graphics-styles img {
    width: 150px;
    height: auto;
    padding: 15px;
}